<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title : 'Home'}) %>

<body>
    <%- include('./partials/header') %>
    <main>
        <section class="carrucel">
            <div class="slaider-frame">
                <ul>
                    <li><img class="Img" src="/img/zapatillas/zapa 1.jpg" alt=""> 
                    <li><img class="Img" src="/img/zapatillas/zapa 2.jpg" alt=""> 
                    <li><img class="Img" src="/img/zapatillas/zapa 3.jpg" alt=""> 
                    <li><img class="Img" src="/img/zapatillas/zapa 4.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 5.jpg" alt=""> 
                    <li><img class="Img" src="/img/zapatillas/zapa 6.jpg" alt="">
                    <!-- para desktop -->
                    <li><img class="Img" src="/img/urbano/zapa 1.jpg" alt="">  
                    <li><img class="Img" src="/img/urbano/zapa 2.jpg" alt="">     
                    <li><img class="Img" src="/img/urbano/zapa 3.jpg" alt="">   
                </ul>
            </div>
        </section>
    <section class="Deportivo">
        <h4>Deportivo</h4>
        <div class="imagenes_zapatillas">
            <% selecction.forEach(element => { %>
                <section>
                <h4><%= element[0].section %></h4>
                <%element.forEach(producto => { %>
                    <article><a href="/products/detalle/<%= producto.id %>"><div class="disponible_logo"><img class="Img" src="/img/zapatillas/<%= producto.image %>" alt=""><div class="Disponible"><p>Disponible!</p></div></div> <p class="texto_info"><%= producto.name %> </p><p class="texto_info">$<%= producto.price %></p></a></article>
            <%})%>
            </section>
            <%})%>
        </div>
    </section>
    <section class="carrucel_logos">
        <div class="slaider-frame">
            <ul>
                <li><img class="Img_logo" src="/img/marcas/logo_puma.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/adidas a color.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_nike.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_convers.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/rebook color.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_vans.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_armour.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/logo_nb.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/filacolor.jpg" alt=""></li>
                <li><img class="Img" src="/img/marcas/jordan air.jpg" alt=""></li>
            </ul>
        </div>
    </section>
    <section class="urbano">
        <h4 class="h4">Urbano</h4>
        <div class="imagenes_zapatillas">

            <article><div class="proximamente_logo"><img class="Img" src="/img/urbano/zapa 1.jpg" alt=""> <div class="Proximamente"><p>En Breve</p></div></div><p class="texto_info">Nike Air Force 1 07 Lv8</p><p class="texto_info">$27.999</p></article>             
            <article><div class="proximamente_logo"><img class="Img" src="/img/urbano/zapa 2.jpg" alt=""> <div class="Proximamente"><p>En Breve</p></div></div><p class="texto_info">Converse Chuck</p><p class="texto_info">$14.850</p></article>
            <article><div class="proximamente_logo"><img class="Img" src="/img/urbano/zapa 3.jpg" alt=""> <div class="Proximamente"><p>En Breve</p></div></div><p class="texto_info">Fila Rush</p><p class="texto_info">$16.000</p></article>
     
    </div>
    </section>
    <section class="productos">
        <h4 class="h4">Productos</h4>
        <div class="imagenes_zapatillas">
            
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa 10.jpg" alt=""><div class="Proximamente"><p>En Breve</p></div></div> <p class="texto_info">Vans Sk8-Hi</p><p class="texto_info">$17.550</p></article>
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa 11.jpg" alt=""><div class="Proximamente"><p>En Breve</p></div></div> <p class="texto_info">Puma Cali Star Wn S</p><p class="texto_info">$18.499</p></article>
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa 6.jpg" alt=""><div class="Proximamente"><p>En Breve</p></div></div> <p class="texto_info">Vans Ultra Range</p><p class="texto_info">$24.000</p></article>
    </div>
        <div class="imagenes_zapatillas">
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa 8.jpg" alt=""><div class="Proximamente"><p>En Breve</p></div></div> <p class="texto_info">Vans Safari Multi Era</p><p class="texto_info">$10.900</p></article>
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa jordan.jpg" alt=""> <div class="Proximamente"><p>En Breve</p></div></div><p class="texto_info">Jordan Air 1 Mid Se</p><p class="texto_info">$34.999</p></article>
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa 4.jpg" alt=""> <div class="Proximamente"><p>En Breve</p></div></div><p class="texto_info">Puma Mayze Women</p><p class="texto_info">$19.999</p></article>
    </div>
    <div class="imagenes_zapatillas">
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa 9.jpg" alt=""><div class="Proximamente"><p>En Breve</p></div></div> <p class="texto_info">Reebok Classic Leather</p><p class="texto_info">$17.000</p></article>
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa 5.jpg" alt=""><div class="Proximamente"><p>En Breve</p></div></div> <p class="texto_info">Topper Loli</p><p class="texto_info">$11.499</p></article>
        <article><div class="proximamente_logo"><img class="Img" src="/img/zapatillas/zapa 7.jpg" alt=""><div class="Proximamente"><p>En Breve</p></div></div> <p class="texto_info">Puma Muse X-3 Metallic</p><p class="texto_info">$18.770</p></article>
    </div>


    </section>
    </main>
    <%- include('./partials/footer') %>

</body>
</html>