<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title : 'Detalle'}) %>
<body>
    <%- include('../partials/header') %>
    <main class="mainDetalle">
        <p class="ruta">Ruta / del / producto</p>
        <section>
            <hr class="lineaSeparadora">
            <article class="foto">
                <div class="sect1">
                    <p class="nombreArt"><%= product.name %></p>
                    <p class="precio">Precio $<%= product.price %></p>
                    <p class="cuotas">Hasta 6 cuotas sin interés</p>
                    <p class="cuotasDe">Cuotas <%= product.dues %> </p>
                    <img class="imagenDetalle" src="/img/zapatillas/<%= product.image %>"
                        alt="">
                </div>
            </article>
            <article>
                <div class="sect2">
                    <div class="talles">
                        <p class="p_talle"><%= product.size %></p>
                    </div>
                    <a class="agregaCarrito" href="/products/edit/<%=product.id %>">Editar</a>
                    <form action="/products/delete/<%=product.id %>?_method=DELETE" method="POST">
                        <button class="Eliminar-producto" type="submit">Eliminar</button>
                    </form>
                </div>
                
            </article>
        </section>
        <section class="info">
            <hr class="lineaSeparadora">
            <article class="descripcionpagoenvio">
                <ul class="ul">
                    <li> ◦Envío gratis</li>
                    <li> ◦Pagá hasta en 6 cuotas sin interés</li>
                </ul>
            </article>
            <hr class="lineaSeparadora">
            <article>
                <p class="descripcion">Descripción</p>
                <p class="descripcionDetallada"><%= product.description %></p>                
            </article>
        </section>
        <section class="carrucel">
            <p id="opciones">También te puede gustar</p>
            <div class="slaider-frame">
                <ul>
                    <li><img class="Img" src="/img/zapatillas/zapa 1.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 2.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 3.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 4.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 5.jpg" alt="">
                    <li><img class="Img" src="/img/zapatillas/zapa 6.jpg" alt="">

                </ul>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>