<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{ title: 'Producto' }) %>

<body>
    <%- include('../partials/header') %>
    <main>
    <!--Acá tiene que ir un if/else, el if que muestre los productos dependiendo de la keyword dada, 
    y el else, que muestre el mensaje de "No se encontraroion productos"-->
        <section>
            <h4 class="h4_resultado">Resultados de la búsqueda:</h4>
            <% if (products.length> 0) { %>
                <div>
                    <div class="div_padreFor">
                        <% products.forEach(({id,name,image,price})=> { %>
                        <article class="productArticle">
                            <a href="/products/detalle/<%= id %>">
                                <div class="div_img-product"><img class="img_product"
                                    src="/img/zapatillas/<%= image %>" alt=""> </div>
                                    <p class="texto_info-product"><%= name %></p>
                                    <p class="texto_info-product"><%= price %></p>
                              </a>
                            
                        </article>
                    <div>
                </div>
            <% }) %>
            <% }else{ %>
                <div class="productBusqueda">
                    No hay productos para la búsqueda 
                    <span>
                    <%= keywords %>
                    </span>
                </div>
            <% } %>

        </section>
    </main>
</body>
</html>